:root {
  --cursor-size: 30px;
}

#emojion-cursor {
  pointer-events:none;
  position: absolute;
  font-size: var(--cursor-size);
  z-index: 50;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
}
#emojion-cursor.click {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: calc(var(--cursor-size) * 0.8);
}

#emojion-cursor.active{
  transform: rotate(0deg);
}
#emojion-cursor.inactive{
  transform: rotate(-25deg);
}

.emojion-button {
  transition: all 0.3s ease;
}
.emojion-input{
  transition: all 0.3s ease;
}
.emojion-input:hover {
  transform: scale(1.02);
}
  
.emojion-button:hover {
  transform: scale(1.05);
}
